# Python stuff
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# Data files
*.log
*.csv
data/
*.db
*.sqlite3

# App generated folders
logs/
charts/
patient_reports/
uploads/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Local environment variables
.env
.env.local
.env.development.local
